.novo-caso-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    /* vertical */
    align-items: center;
    /* horizontal */
    justify-content: center;
}

.novo-caso-container .content{
    width: 100%;
    padding: 75px;
    background: #fff3e0;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.novo-caso-container .content section{
    width: 100%;
    max-width: 380px;
}

.novo-caso-container .content section img{
    height: 110px;
    width: 325px;
}

.novo-caso-container .content section h1{
    margin: 50px 0 32px;
    font-size: 32px;
    color: #424242;
}

.novo-caso-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
    font-style: italic;
}

.novo-caso-container .content form {
    width: 100%;
    max-width: 450px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.novo-caso-container .content form input,
.novo-caso-container .content form textarea{
    width: 100%;
    margin-bottom: 1.5em;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    border: 1px solid #ffe0b2;
    box-shadow: 4px 4px 15px #bdbdbd ;
}

.novo-caso-container .content form input:focus,
.novo-caso-container .content form textarea:focus{
    border: 1px solid #ffcc80;
}

.novo-caso-container .content form input{
    height: 15%;
}

.novo-caso-container .content form textarea{
    resize: none;
    height: 40%;
}

.novo-caso-container .content form button{
    width: 30%;
    height: 65px;
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.back-link:hover {
    opacity: 0.8;
}

.seta {
    transform: rotate(180deg);
    margin-right: 5px;
}