@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #ffe0b2;
    -webkit-font-smoothing: antialiased;
}

input, textarea{
    font: 400 18px Roboto, sans-serif;
    color: #424242;
}

button {
    font: 400 18px Roboto, sans-serif;
    border: 1px solid #ffe0b2;
    background-color: #ff9800;
    border-radius: 5px;
    transition: border-color 0.3s;   
    cursor: pointer; 
}

button:hover {
    border-color: #ff9800;
    background-color: #f57c00;
}